<!-- link to login -->
<div class="link_to_login">
  <%= link_to "Login", login_path %>
</div>

<!-- signup loader 
<div class="signup_loader">
  <%= image_tag "page-loader.gif" %>
  <h4> You can easily edit the layout <br> that is being generated for you right now. </h4>
</div> -->

<!-- only after sign up -->
<% if request.referer == signup_url %>
  <%= link_to "Edit your profile", user_profile_update_path %>
<% end %>


<!-- show -->
<div class="container_normal">
  <h1> What I’m doing now </h1>
  <h3> Johannes R. Seikowsky </h3>
  <p>
    These are the most important things I currently focus on: <br>
    <strong>1) Places</strong> - My girlfriend and I are trying an experiment of living in different, interesting places for a couple of months each. Enough to properly internalize each place. Right now we are in Tel Aviv for 3 months.<br>
    <strong>2) Programming</strong> - I hack. This site is my latest project example. I've done some others and have a long pipeline of ideas to work on. I'm also learning more about penetration testing, as part of which Im expanding my Ruby to Python.<br>
    <strong>3) Writing </strong>- I write. I try not to, but somehow always end up producing something sometimes. By now there are almost 20 blog posts by me. You can find them on medium.<br>
    <strong>4) Teaching</strong> - teaching is my day job. I do not consider it my primary career, but I nevertheless like it and think it an honourable profession.<br>
  </p>
  <hr>
  <%= image_tag "johannes.jpg", class: "img-responsive img-circle", style: "width:66%; margin: 15px 17% 15px 17%;" %>
  <hr>
  <p> 
    I'm interested in programming, writing, research and teaching. Please feel free to get in touch about collaborating on any project concerned with these interests.
  </p>
  <form>
    <textarea></textarea>
    <input type="submit" value="Send" >
  </form>
</div>



<!-- loading graphic js -->
<script type="text/javascript">
  $(window).load(function() {
    $(".signup_loader").delay(5500).fadeOut("slow");
  })
</script>