<!-- header -->
<div class="simple_header">
  <%= link_to "Login", login_path, class: "btn btn-md btn-success" %> |
  <%= link_to "Sign-up", signup_path, class: "btn btn-md btn-success" %>
</div>

<!-- content -->
<div class="simple_container">
  <h2 style="font-size: 29px; text-align: center;"> YOUR OWN, PERSONAL NOWPAGE IN 5 MINUTES OR LESS </h2>
  <p>
   A nowpage is a website where people state what they are currently focusing on. It's a declaration of priorities that helps people focus.
  </p>
  <div class="button">
    <%= link_to "GET", signup_page_path, class: "btn btn-medium" %>
  </div>
  <h3> 200+ nowpages </h3>
  <p>
    <a href="https://sivers.org/">Derek Sivers</a> was the first person to make a nowpage. Since then more than 200 people have followed in his footsteps. Many say that it helps them focus, avoid distraction and stay on course.
  </p>
  <%= image_tag "nownownow.png" %>
  <p>
    Check out <a href="http://nownownow.com/">nownownow.com.</a> The site compiles many of the existing nowpages. It's very entertaining.
  </p>

  <h3> Ways to practically benefit from a nowpage </h3>
  <ul>
    <li> In the footer of emails, on business cards or elsewhere </li>
    <li> On any of your social media profiles: LinkedIn, Facebook, Twitter etc. etc. </li>
    <li> For fun and for yourself to keep focused </li>
  </ul>
  <h3> Story </h3>
  <p>
   The nowpage movement was started by Derek Sivers. et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum...
  </p>

</div>
