<h1> 
  The now page generator is the simplest way to create a slick
  now page for yourself to share, put onto social media profile etc. 
</h1> <br>

<%= link_to "Start", signup_path, class: "btn btn-medium btn-primary" %> <br> <br>


<div>
  explantory container.
</div>