<!-- header -->
<div class="simple_header">
  <%= link_to "Login", login_path, class: "btn btn-md btn-success" %> |
  <%= link_to "Sign-up", signup_path, class: "btn btn-md btn-success" %>
</div>

<!-- content -->
<div class="simple_container">
  <h2 style="font-size: 29px; text-align: center;"> THE EASIEST WAY TO MAKE A NOWPAGE FOR YOURSELF </h2>
  <p>
    A nowpage is a website where people state what they are currently focusing on. Many people find it a wonderful and valuable thing to do and have. With mynowpage.com it's also easy. Enjoy.
  </p>
  <div class="button">
    <%= link_to "GET A NOWPAGE.", signup_page_path, class: "btn btn-medium" %>
  </div>
  <h3> 200+ nowpages </h3>
  <p>
    <a href="https://sivers.org/">Derek Sivers</a> was the first person to make a nowpage. Since then many have followed in his footsteps and by now there are over 200 individual nowpages. People say that it helps them focus, prioritize, avoid distraction and stay on course.
  </p>
  <%= image_tag "nownownow.png" %>
  <p>
    Check out <a href="http://nownownow.com/">nownownow.com.</a> The site compiles many of the existing nowpages. It's very entertaining.
  </p>

  <h3> Ways to practically benefit from a nowpage </h3>
  <ul>
    <li> In the footer of emails, on business cards or elsewhere </li>
    <li> On any of your social media profiles: LinkedIn, Facebook, Twitter etc. etc. </li>
    <li> For fun and for yourself to keep focused </li>
  </ul>
  <h3> Story </h3>
  <p>
   The nowpage movement was started by Derek Sivers. et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum...
  </p>

</div>
