<!-- header -->
<div class="simple_header">
  <%= link_to "Login", login_path, class: "btn btn-md btn-success" %> |
  <%= link_to "Sign-up", signup_path, class: "btn btn-md btn-success" %>
</div>

<!-- content -->
<div class="simple_container">
  <h1> GET A NOWPAGE </h1>
  <p>
    A nowpage is a website on which people state what they are focusing on right now. Many people have added one to theor homepages. Here you can easily create your own, simple, nowpage under your own webaddress.
  </p>
  <div class="button">
    <%= link_to "GET YOUR NOWPAGE", signup_page_path, class: "btn btn-medium" %>
  </div>
  <h3> 200+ nowpages </h3>
  <p>
    Many people have begun to make nopwges. and seem to really enjoy making and haing one. Many say it helps them focus. Derek has compiled a site that links to many ppls nowpages, there are over 200 there.
     et iusto odio dignissimos ducimus qui
  </p>
  <hr>
  <%= image_tag "now1.jpg" %>
  <hr>
  <h3> The actual benefits </h3>
  <ul>
    <li> In the footer of emails, on business cards or elsewhere </li>
    <li> On any of your social media profiles: LinkedIn, Facebook, Twitter etc. etc. </li>
    <li> For fun and for yourself to keep focused </li>
  </ul>
  <h3> Story </h3>
  <p>
   The nowpage movement was started by Derek Sivers. et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum...
  </p>

</div>
