<div class="login">
  <%= link_to "Login", login_path %>
</div>

<h1> Hi </h1>

<p>The now page generator is the simplest way to create a slick <br> 
now page for yourself to share, put onto social media profile etc. </p> <br>

<%= link_to "Start", signup_page_path, class: "btn btn-medium btn-warning" %> <br> <br>


