// *= require_tree .
// *= require_self
// *= require font-awesome

// General
body {
  height: 100%;
  margin-bottom: 22px;
  font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
  color: #333;
  // normal and mobile
  @media (min-width: 500px){ padding-top: 15px; }
  @media (max-width: 500px){ padding: 15px 10px 0px 10px; }
  a{
    color: grey;
  }
}

// Functionalities
.container_normal{
  // normal and mobile
  @media (min-width: 500px){ width: 500px; }
  @media (max-width: 500px){ width: 100%; }
  margin: 0px auto;
  h1{
    text-transform: uppercase;
    font-size: 32px;
    font-weight: bold;
    padding-bottom: 15px;
    margin-bottom: 20px;
    border-bottom: 1px solid #eee;
  }
  h2{
    font-size: 26px;
    font-weight: bold;
    padding-bottom: 9px;
    margin-bottom: 14px;
    border-bottom: 1px solid #eee;
  }
  p{
    font-size: 16px;
    line-height: 1.6;
    margin-bottom: 16px;
  }
  hr{
    height: 1px;
    color: #eee;
    margin-top: 30px;
    margin-bottom: 30px;
  }
  img{
    width: 80%;
    height: auto;
    margin: 15px 10% 15px 10%;
  }
  ul{
    margin-bottom: 30px;
    li{
      font-size: 16px;
      line-height: 1.6;
    }
  }
  // Links
  .button{
    text-align: center;
    padding: 30px 0px 25px 0px;
    a{
      color: black;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      border: 2px solid black;
      // normal and mobile
      @media (min-width: 500px){ padding: 10px 75px; }
      @media (max-width: 500px){ padding: 13px 80px; }
    }
    a:hover{
      background-color: orange;
    }
  }
  // Form elements
  form h4{
    padding-bottom: 5px;
    margin-bottom: 5px;

  }
  input[type=text], input[type=password]{
    width: 355px;
    height: 36px;
    margin-bottom: 0px;
    border: 2px solid #eee;
    border-radius: 6px;
  }
  input[type=submit]{
    color: black;
    font-size: 16px;
    font-weight: bold;
    background-color: white;
    border: 2px solid black;
    margin-top: 20px;
    // normal and mobile
    @media (min-width: 500px){ padding: 10px 75px; }
    @media (max-width: 500px){ padding: 13px 80px; }
  }
  input[type=submit]:hover{
    background-color: orange;
    cursor: pointer;
  }
  textarea{
    width: 100%;
    height: 90px;
  }
  // styling placeholder text
  ::-webkit-input-placeholder {
    font-size: 16px;
  }
}



// Components
.link_to_login{
  // normal and mobile 
  @media (min-width: 760px){ position: fixed; }
  @media (max-width: 760px){ position: absolute; }
  top: 18px;
  right: 26px;
}

.header_on_show{
  @media (min-width: 760px){ position: fixed; }
  @media (max-width: 760px){ position: absolute; }
  top: 18px;
  right: 26px;
  color: #808080;
}

.explain_now{
  position: fixed;
  top: 45px;
  right: 25px;
  width: 210px;
  padding: 24px;
  border: 2px solid black;
  background-color: white;
  border-radius: 7px;
  -webkit-border-radius: 12px; 
  -moz-border-radius: 12px; 
  display: none;
}

.debug_area{
  position: fixed;
  bottom: 5px;
  left: 5px;
}

.with_love{
  width: 100%;
  text-align: center;
  font-size: 19px;
  color: #BCBCBC;
  padding-top: 82px;
}

#url_simulation{
  color: grey;
  font-size: 16px;
  padding-top: 5px;
}


// Individual pages
// signup loader
.signup_loader{
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  text-align: center;
  background: #F7EEE5;
  img{ 
    width: 125px;
    height: auto;
    margin-top: 100px; 
  }
  h2{
    margin-top: 18px; 
  } 
}


.user_profile{
  width: 500px;
  margin-left: 500px;
  .headline{
    font-size: 44px;
  }
  .content{
    padding-top: 32px;
    font-size: 16px;
    text-align: left;
    line-height: 1.25;
  }
}

.profile_sidebar{
  width: 240px;
}

